*{
    margin: 0;
    padding: 0;
    font-family: 'Open sans' , sans-serif;
  }
  .contact-section{
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  .contact-section h1{
    text-align: center;
    color: #ddd;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #456382;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }
  .footer {
    display: flex;
    padding : 1rem;
    margin: 4rem 0 0 0;
    justify-content: space-around;
    
    color: #fff;
}
.footer-top h2 {
    margin-bottom: 0.2rem;
    font-size: 2rem;
    font-weight: 800;
}

.socials ul  {
    list-style-type: none;
    display: flex;
    font-size : 2rem ;
}
.socials ul li {
    padding: 0.3rem;
    margin-right: 0.5rem;
    
}
.socials ul li i{
 color: #fff;
}

@media screen and (max-width: 760px ) {

div.footer {
  font-size: 10px;
  flex-direction: column;
  justify-content: space-between;
}
}